# General
.DS_Store

#JEKYLL THINGS
_site
.sass-cache
.jekyll-metadata
_drafts
public
# images
.jekyll-cache
jekyll-image-gallery-example

# Infrastructure
Dockerfile
docker-compose.yml
gulpfile.js
node_modules

# Other
wp-content
Global
RawImages
image-resize.py

# Local Netlify folder
.netlify