<div class="faq-wrapper">
    <div class="tabs">
      {%- for faq in site.data.faq.faq-questions -%}
        {%- if faq.question -%}          
          {%- if faq.link contains '://' -%}
            {%- assign link_url = faq.link -%}
          {%- else -%}
            {%- assign link_url = faq.link | relative_url -%}
          {%- endif -%}
          <div class="tab">
            <input type="checkbox" id="chck{{forloop.index}}">
            <label class="tab-label" for="chck{{forloop.index}}">{{faq.question}}</label>
            <div class="tab-content">
              {{faq.answer}}
              {%- if faq.link -%}
              <div class="tab-link">
                <a href="{{faq.link}}" {%- if faq.link_title -%} title="{{faq.link_title}}" {%- endif -%}>Learn More</a>
              </div>
              {%- endif -%}
              {% assign pwimg=faq.image %}
              {% assign pwcaption="" %}
              {% assign pwpng="" %}
              {% include post-wide-image.html%}
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
</div>
