<section class="footer-posts-navigation">
	<ul>
		<li class="post-categories">
			<h3>Choose Your Own Adventure</h3>
			<p>A look into our content by theme(cateogory). Choose your favorite topic and start reading. Enjoy!</p>
			{% include post-categories-summary.html %}
		</li>
		<li class="post-archive-calendar">
			<h3>Our Content In Time</h3>
			<p>Discover our posts through the months and years. We will try our best to journal this wonderful adventure for many years to come.</p>
			{% include archive-calendar.html %}
		</li>
		<li class="post-categories">
			<h3>Level up</h3>
			<p>Explore our posts based on topical tags and specific events. Enjoy!</p>
			{% include post-tags-summary.html %}
		</li>

	</ul>
</section>