<section class="post-tile-container">
  	<ul>
		{%- assign entry = site.posts.last -%}
		{%- assign ribbon-color= "orange" -%}
		{%- assign ribbon-text= "Start Here" -%}
		{%- include post-tile.html -%}
		{%- assign entry = site.posts.first -%}
		{%- assign ribbon-color= "green" -%}
		{%- assign ribbon-text= "Latest" -%}
		{%- include post-tile.html -%}
		{%- for entry in site.posts -%}
			{%- if entry.featured == true -%}
				{%- assign ribbon-color= "blue" -%}
				{%- assign ribbon-text= "Featured" -%}
		  		{% include post-tile.html %}
			{%- endif -%}
		{%- endfor -%}
	</ul>
</section>