<section class="related-posts">
  	<ul>
{%- if include.type == "tag" -%}
	{%- if include.order == "asc" -%}
		{% assign sortedList = site.tags[include.value] | sort: 'date' %}
	{%- elsif include.order == "desc" -%}
		{% assign sortedList = site.tags[include.value] | sort: 'date' | reverse %}
	{%- endif -%}
	{%- for entry in sortedList -%}
		{%- if page.title != entry.title -%}
			{% include post-tile.html description="hide" %}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{%- if include.type == "category" -%}
	{%- if include.order == "asc" -%}
		{% assign sortedList = site.categories[include.value] | sort: 'date' %}
	{%- elsif include.order == "desc" -%}
		{% assign sortedList = site.categories[include.value] | sort: 'date' | reverse %}
	{%- endif -%}
	{%- for entry in sortedList -%}
		{%- if page.title != entry.title -%}
			{% include post-tile.html description="hide" %}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
	</ul>
</section>