<script src="http://www.youtube.com/player_api"></script>
<div id="ytplayer"></div>

<script>

    // create youtube player
    var player;

    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
          height: '100%',
          width: '100%',
          videoId: '{{include.youtube_id}}', 
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            $('#ytplayer').fadeOut();
            $(".video-header picture").fadeIn();
        }
    }

</script>